#one{
font-size: 45px;
color: #b118ff;
font-family: Sans-Serif;
}

header {
  text-align: center;
  background: ;
  font-size: 30px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;

}
a:hover{
  background-color: #e418ff;
}

#links {
  text-align: center;
  margin: 20px;
}

h1 {
 font-size: 40px;
 text-align: center;
 font-weight: bold;
 
}

#h1-ti{
  margin-top: 100px;
}

#h2-ti{
  color: #e26ff4;
}

h2 {
  text-align: center;
  color: #4e4e4e;
  font-size: 30px;
  font-weight: bold;
  
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

p {
  font-weight: bold;
}

.texto{
  font-size: 16%;
  text-align: center;
  
}

#white{
  color: 
}

  #title{
  padding: 10px;
  margin-top: 3px;
  margin-bottom: 200px;
  
} 

#navegacion{
  margin-bottom: 200px;
  padding: 10px;

}
#estudio {
  color: red;
}
#imagen{
  width: 100px;
  height: 100px;
  float: left;
}